.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg,#8700bd,#dd11d3,rgb(238, 119, 23));
}

.form-cont, .login-form , .register-form{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width:600px) {
  .form-cont{
    display: flex;
    flex-direction: column; 
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}


label {
  text-align: left;
  padding: 0.25rem 0;
}

input{
  margin: 0.5rem 0;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  border-radius: 10px;
}

button{
  border: none;
  color: #8700bd;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
}

.link-btn{
  background: none;
  color: rgba(244, 244, 247, 0.788);
  text-decoration: underline;
}